<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="main-header">
        <a href="/">
            <h1>TopPlaylist</h1>
        </a>
        <NAV class="NAV">
            <ul class="nav-list">
                
            </ul>
        </NAV>
    </header>
    {% block page_content %}{% endblock %}
    <footer>Copyright {% block year %}{% endblock %} TopPlaylist.</footer>
</body>
</html>